# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (if using npm for Tailwind)
node_modules/
package-lock.json

# Docker
docker-compose*.yml

# Database credentials
pgpass
pgadmin-servers.json
*.dump
*.gz
*.sql

# Logs
logs/
